<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DecorIdea</title>
	<link rel="stylesheet" href="/static/stylepagine.css">
	<script src="/static/store.js" async></script>
</head>
<div class="hero-image">
	<div class="hero-text">
		<h1 style="font-size:50px">BATHROOM</h1>
		<a href="{{url_for('home')}}"><button>Return to Home page</button></a>
	</div>
</div>
<body>


<nav class="navbar">
	<div>
		<li><a href="{{url_for('kitchen')}}">KITCHEN</a></li>
		<li><a href="{{url_for('living')}}">LIVING</a></li>
		<li><a href="{{url_for('bedroom')}}">BEDROOM</a></li>

	</div>
	<ul class="nav-list">

	</ul>
</nav>
<br>
<div class="testo">
	<div style="text-align: center; font-family: 'Open Sans', sans-serif; color: #333;">
		<h2 style="font-size: 36px; font-weight: bold; margin-bottom: 20px;">Per garantirti qualità e funzionalità</h2>
		<p style="font-size: 18px; line-height: 1.5; margin-bottom: 20px;">
			Selezione di mobili da bagni e docce per garantirti il massimo comfort.
		</p>
	</div>
</div>

<table>

	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>
		<th><br>
        			<br>
			
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">HABIT</span>
					<p>Lavandino bianco e blu mare.</p>
					<span style="color:green">Novità</span>
					<p>40x80 cm</p>
					<p>★★★★☆(145)</p>
					<img class="shop-item-image" src=" https://assets.deghi.it/_p/aft/webp/750/108715/mobile-bagno-sospeso-100-cm-blu-navy-1-cassetto-con-specchio-filolucido-portland-1.webp">
					<div class="shop-item-details">
						<span class="shop-item-price">$259.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>

						<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
						
						
						
						
					</div>
				</div>
			
			
			
			<br></td> </th>
			
			
			
		<th><br><br>
			
			
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">COLETTE</span>
					<p>Doppio lavandino.</p>
					<p>150x80 cm</p>
					<p>★☆☆☆☆(17)</p>
					<img class="shop-item-image" src="https://bernstein-badshop.com/cdn-cgi/image/width=1920,format=auto,onerror=redirect/media/f8/26/28/1621422418/4ae732d34e025402527a1435b450274d.jpg">
					<div class="shop-item-details">
						<span class="shop-item-price">$109.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>
						<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
						
						
						
						
					</div>
				</div>
			
			
			<br> </th>
			
			
			
		<th><br><br>
			
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">JOSEPHNE</span>
					<p>Doccia chiusura calamita, temperatura regolabile.</p>
					<p>50x80 cm</p>
					<p>★★☆☆☆(62)</p>
					<img class="shop-item-image" src="https://www.deltabagni.it/wp-content/uploads/2022/06/Gaia-21-Foto-1-OK.jpg">
					<div class="shop-item-details">
						<span class="shop-item-price">$799.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>
						<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
						
						
						
						
					</div>
				</div>
			
			
			<br></th>
	</tr>
	<tr><th></th>
		<th></th>
		<th></th>
	</tr>

</table>
<br>
<br>
<br>

<div class="testo">
	
</div>
<table>

	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>
		<th><br><br>
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">BERTIE</span>
					<p>Specchio con lavabo.</p>
					<span style="color:green">Novità</span>
					<p>50x150 cm</p>
					<p>★★★★☆(32)</p>
					<img class="shop-item-image" src="https://static.tikamoon.com/product_photos/4359__1200_000/1200-1200-specchio-in-metallo-lison-70x50-cm.jpg?t=1665724001">
					<div class="shop-item-details">
						<span class="shop-item-price">$109.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>

						<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
						
					
						
						
					</div>
				</div>
			
			
			
			<br></td> </th>
			
			
			
			
			
		<th><br><br>
			
			
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">LINA</span>
					<span style="color:red">NON DISPONIBILE</span>
					<img class="shop-item-image" src="https://static.tikamoon.com/product_photos/3856__1200_000/1200-1200-tavolo-alto-in-palissandro-massello-e-metallo-talia-4-pers.jpg?t=1665705210">
					<div class="shop-item-details">
						<span class="shop-item-price">$99.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>						
					
						
						
					</div>
				</div>
			
			
			
			<br></th>
			
			
			
			
		<th><br>
			<br>
			
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">INDUSTRIEL</span>
					<span style="color:red">NON DISPONIBILE</span>
					<img class="shop-item-image" src="https://static.tikamoon.com/product_photos/2340__HD_001/1200-1200-scaffale-per-bagno-in-metallo-sona-50-cm.jpg?t=1665650774">
					<div class="shop-item-details">
						<span class="shop-item-price">$129.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>
						
						
						
						
					</div>
				</div>
			
			
			
			
			<br></th>
	</tr>
	
	<tr><th></th>
		<th></th>
		<th></th>
	</tr>
</table>
<br>
<br>

<section class="footer2">
	<section class="container content-section">
		<h2 class="section-header">CART</h2>
		<div class="cart-row">
			<span class="cart-item cart-header cart-column">ITEM</span>
			<span class="cart-price cart-header cart-column">PRICE</span>
			<span class="cart-quantity cart-header cart-column">QUANTITY</span>
		</div>
		<div class="cart-items">
		</div>
		<div class="cart-total">
			<strong class="cart-total-title">Total</strong>
			<span class="cart-total-price">$0</span>
		</div>
		<button class="btn btn-primary btn-purchase" type="button">ORDER</button>
	</section>
	<h1>Decor Idea</h1>
	</footer>
	
</section>
</body>
</html>



				