<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactUs</title>



    <link rel="stylesheet" type="text/css" href="/static/style4.css">
</head>
<body>
<section class="contact">
    <div class="content">
        <h2>Contact Us</h2>
        <p>Ovunque tu sia, potrai acquistare i prodotti del nostro assortimento con un semplice tocco e riceverli a casa tua in pochi giorni!
            I nostri collaboratori sono a tua completa disposizione. Scopri come contattarci.</p>
    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">                
                   <div class="icon"></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>351-220-20-54</p>
            </div>

                 </div>
                <div class="box">
                    <div class="icon">
                       </div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>DecorIdea@gmail.com</p>
                    </div>
                        </div>
        </div>
        <div class="contactForm">
            <form>
                
                
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                
                <div class="inputBox">
                   <textarea required="required"></textarea>
                    <span>Type your message...</span>

                    
                </div>
                
                <div class="inputBox">
                    
                    <input type ="submit" class="user5" name="" value="Send">
                    
                    <a href="{{url_for('home')}}"><button class="user5" type="button">Return Home page</button></a>


                </div>
            </form>
        
        </div>
    </div>

</section>






</body>
</html>