<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DecorIdea</title>
	<link rel="stylesheet" href="/static/stylepagine.css">
	
	<script src="/static/store.js" async></script>
</head>
<div class="hero-image">
	<div class="hero-text">
		<h1 style="font-size:50px">KITCHEN</h1>
		<a href="{{url_for('home')}}"><button>Return Home page</button></a>
	</div>
</div>
<body>

<nav class="navbar">
	<div>
		<li><a href="{{url_for('bedroom')}}">BEDROOM</a></li> 
		<li><a href="{{url_for('bathroom')}}">BATHROOM</a></li>	
		<li><a href="{{url_for('living')}}">LIVING</a></li>

		
	</div>
	<ul class="nav-list">

	</ul>
</nav>
<br>
<div class="testo">
	<div style="text-align: center; font-family: 'Open Sans', sans-serif; color: #333;">
		<h2 style="font-size: 36px; font-weight: bold; margin-bottom: 20px;">Per darti il miglior comfort in cucina.</h2>
		<p style="font-size: 18px; line-height: 1.5; margin-bottom: 20px;">
			Per assicurarti che nella tua cucina ci sia il massimo della qualità e della comodità.
		</p>
	</div>
</div>

<table>

	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>
		<th><br>
			<br>
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">TRANSFORMER</span>
					<p>Tavolo in legno e acciao.</p>
					<p>Contattaci per le dimensioni</p>

					<p>★★★★☆(34)</p>
					<img class="shop-item-image" src="https://static.tikamoon.com/product_photos/3856__1200_000/1200-1200-tavolo-alto-in-palissandro-massello-e-metallo-talia-4-pers.jpg?t=1665705210">
					<div class="shop-item-details">
						<span class="shop-item-price">$492.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>
						<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
						
						
						
						
					</div>
				</div>
			
			<br></td> </th>
			
			
			
		<th><br><br>
			
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">ISIDORE</span>
					<p>Mobile in legno facile da pulire </p>
					<p>fornito con spry anti usura</p>
					<p>150x200/50x80 cm</p>
					<p>★★★★★(2)</p>
					<img class="shop-item-image" src=" https://static.tikamoon.com/product_photos/4799__HD_001/1200-1200-vetrina-in-teak-massello-coffee-tek-120-cm.jpg?t=1665736725">
					<div class="shop-item-details">
						<span class="shop-item-price">$149.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>
						<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
						
						
						
					</div>
				</div>
			
			
			<br></th>
			
			
			
			
		<th><br>
			<br>
			
			
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">HORTSENSE</span>
					<span style="color:red">NON DISPONIBILE</span>
					<img class="shop-item-image" src="https://static.tikamoon.com/product_photos/4152__HD_001/1200-1200-sgabello-da-bar-in-frassino-massello-e-metallo-molly.jpg?t=1665715142">
					<div class="shop-item-details">
						<span class="shop-item-price">$169.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>

						
						
						
						
						
					</div>
				</div>
			
			
			
			<br></th>
	</tr>
	<tr><th></th>
		<th></th>
		<th></th>
	</tr>

</table>
<br>
<br>
<br>

<div class="testo">
	
</div>
<table>

	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>
			<th><br>
			<br>
			
				
				<div class="shop-items">
					<div class="shop-item">
						<span class="shop-item-title">TALIA</span>
						<span style="color:green">Novità</span>
						<p>Contattaci per le dimensioni</p>

						<p>Banco cucina anni 80.</p>
						
						<p>★★★★☆(54)</p>
						<img class="shop-item-image" src="https://living.corriere.it/wp-content/uploads/2017/01/247-mauviel-transformer-box-by-rev-architecture-4-1360x9071.jpg">
						<div class="shop-item-details">
							<span class="shop-item-price">$109.99</span>
							<div class="reg">
								<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
							</div>
							<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
							
						
							
							
						</div>
					</div>
				
				
				
				<br></td> </th>
				
				
				
				
		<th><br><br>
			
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">MOLLY</span>
					<p>Cucina completa in marmo e quarzo.</p>
					<p>Contattaci per le dimensioni</p>
					<p>★☆☆☆☆(11)</p>
					<img class="shop-item-image" src="https://cdn.cosedicasa.com/wp-content/uploads/2020/07/cucina-bianca-carrera-f1-di-veneta-cucine-1-640x320.jpg">
					<div class="shop-item-details">
						<span class="shop-item-price">$899.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>

						<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
						
						
						
					</div>
				</div>
			
			
			<br></th>
			
			
			
			
			
		<th><br>			<br>
			
			
			<div class="shop-items">
				<div class="shop-item">
					<span class="shop-item-title">JOTARO</span>
					<p>Divano color carota in pile.</p>
					<p>150x200/50x80 cm</p>
					<p>★★☆☆☆(27)</p>
					<img class="shop-item-image" src="https://media.mondoconv.it/media/catalog/product/cache/9183606dc745a22d5039e6cdddceeb98/F/N/FNCQ_1LVL.jpg">
					<div class="shop-item-details">
						<span class="shop-item-price">$99.99</span>
						<div class="reg">
							<a href="{{url_for('contvendor')}}"><button class="regbutton">Contact Vendor</button></a>
						</div>

						<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
						
												
						
					</div>
				</div>
			
			
			
			
			
			<br></th>
	</tr>
	<tr><th></th>
		<th></th>
		<th></th>
	</tr>
</table>
<br>
<br>

<section class="footer2">
	<section class="container content-section">
		<h2 class="section-header">CART</h2>
		<div class="cart-row">
			<span class="cart-item cart-header cart-column">ITEM</span>
			<span class="cart-price cart-header cart-column">PRICE</span>
			<span class="cart-quantity cart-header cart-column">QUANTITY</span>
		</div>
		<div class="cart-items">
		</div>
		<div class="cart-total">
			<strong class="cart-total-title">Total</strong>
			<span class="cart-total-price">$0</span>
		</div>
		<button class="btn btn-primary btn-purchase" type="button">ORDER</button>
	</section>
	<h1>Decor Idea</h1>
	</footer>
</section>
</body>
</html>
				